<div class="well">
  <div id="messages" class="alert alert-success" ng-show="flash.get().length && !message">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{flash.get()}}
  </div>
  <div id="messages" class="alert alert-success" ng-show="message">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{message}}
  </div>
  <legend>Games</legend>
  <p ng-show="games.length == 0">There are no games at the moment</p>
  <div class="">
	  <table class="table table-condensed" ng-show="games.length > 0">
	    <thead>
        <tr>
          <th>Date</th>
          <th>Amount of players</th>
          <th>Amount of reserves</th>
        </tr>
	    </thead>
      <tbody>
	    	<tr ng-repeat="game in games">

          <td>{{game.gameDate}}</td>
          <td>{{game.players.length}}</td>
          <td>{{game.reserves.length}}</td>
          
          <td>
            <div class="btn-group">
            	<a href="/#/game/edit/{{game.id}}" class="btn btn-warning btn-sm">Edit</a>
            </div>
            <div class="btn-group">
              <a ng-click="destroy($index)" href="" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </td>
      	</tr>
       </tbody>
    </table>
  </div>
</div>
