
  <div>
  	<div class="well">
    	<legend>{{title}}</legend>
  	</div>
	  <form name="gameForm" ng-submit="saveGame()" >
			<div class="well"> 
				<div class="row">
				  <div class="col-lg-4">
				    <div class="form-group">
				      <input type="text" class="form-control" ng-model="game.gameDate" placeholder="Date of game" name="date" data-date-format="yyyy-mm-dd" bs-datepicker ng-required="true">
				      <span class="input-icon glyphicon glyphicon-calendar"></span>
				    </div>
				    <span class="help-block error" ng-show="gameForm.date.$error.required">Please add a date</span>
				  </div>
				</div>
			</div>
			<div class="well">
				<ng-form name="teeTimes">
					<div class="row">
					  <div class="col-lg-4">
					    <div class="form-group">
					      <input type="text" class="form-control" placeholder="Tee off times" ng-model="game.teeTime" name="time" ng-required="teeTimes.$dirty" >
					      <span class="input-icon glyphicon glyphicon-time"></span>
					    </div>
					    <span class="help-block error" ng-show="teeTimes.$error.required">You need to add a time</span>
					    <span class="help-block error" ng-show="teeTimes.$error.teeTimeError == true">You need to add a time</span>
							<span class="help-block">Leave this blank if the tee time is to be anounced at a later date</span>
					  </div>
					  <div class="col-lg-4">
					    <div class="form-group">
					      <input type="text" placeholder="Venue" class="form-control" ng-model="game.teeVenue" name="time" />
					    </div>
					  </div>
					  <div class="col-lg-3">
							<a class="btn btn-success" href="" ng-click="addTee(game.teeTime, game.teeVenue)">Add tee off time</a>
						</div>
					</div>
				</ng-form>
				<div class="row" ng-show="tees.length > 0"> 
					<div class="col-md-4">
			  		<table class="table">
			  			<thead>
				  			<tr>
				  				<th>Time</th>
				  				<th>Venue</th>
				  				<th></th>	
				  			</tr>
			  			</thead>
			  			<tr ng-repeat="tee in tees">
			  				<td>{{tee.time}}</td>
			  				<td>{{tee.venue}}</td>
			  				<td><a ng-click="destroyTee($index, tee)" href="" class="btn btn-danger pull-right">Remove</a></td>
			  			</tr>
			  		</table>
		  		</div>
				</div>
			</div>
			<div class="well">
				<legend>Add players</legend>
				<div class="row">
					<div class="col-md-4">
						<form class="form">
							<div class="form-group">
							  <input type="text" class="form-control" placeholder="Search" ng-model="search.name" />
							  <span class="input-icon  glyphicon glyphicon-search"></span>
							</div>
						</form>
						<table class="table">
			        <thead>
			            <tr>
			              <th>Members</th>
			              <th></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="user in users| filter:search">
			              <td>{{user.name}}</td>
			              <td><a ng-click="addPlayer($index,user)" ng-dblclick="doubleClick()" href="" class="btn btn-success btn-sm pull-right">Add</a></td>
			            </tr>  
			        </tbody>
			    </table>
					</div>
					<div class="col-md-4" ng-show="players.length > 0">
						<form class="form">
							<div class="form-group">
							  <input type="text" class="form-control" placeholder="Search" ng-model="searchPlayers.name" />
							  <span class="input-icon glyphicon glyphicon-search"></span>
							</div>
						</form>
			      <table class="table">
			        <thead>
			            <tr>
			              <th>Players</th>
			              <th></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="player in players | filter:searchPlayers">
			              <td>{{player.name}}</td>
			              <td><a ng-click="destroy($index, player)" ng-dblclick="doubleClick()" href="" class="btn btn-danger btn-sm pull-right">Remove</a></td>
			              <input type="hidden" ng-model="game.players_game.user_id" value="{{player.id}}" />
			              <input type="hidden" ng-model="game.players_game.reserve" value="false" />
			            </tr>  
			        </tbody>
			    </table>
			  </div>
			  <div class="col-md-4" ng-show="reserves.length > 0">
			  	<form class="form">
							<div class="form-group">
							  <input type="text" class="form-control" placeholder="Search" ng-model="searchReserves.name" />
							  <span class="input-icon glyphicon glyphicon-search"></span>
							</div>
						</form>
			      <table class="table">
			        <thead>
			            <tr>
			              <th>Reserves</th>
			              <th></th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr ng-repeat="reserve in reserves | filter:searchReserves">
			              <td>{{reserve.name}}</td>
			              <td><a ng-click="destroyReserve($index, reserve)" ng-dblclick="doubleClick()" href="" class="btn btn-danger btn-sm pull-right">Remove</a></td>
			              <input type="hidden" ng-model="game.players_game.user_id" value="{{player.id}}" />
			              <input type="hidden" ng-model="game.players_game.reserve" value="true" />
			            </tr>  
			        </tbody>
			    </table>
			  </div>
				</div>
				<br />
				<div class="row">
			    <div class="col-md-2">
			      <input type="submit" value="Save changes" class="btn btn-success" />
			    </div>
			  </div>
			</div>
	  </form> 
  </div> 
