<p>Hej <%= @resource.email %>!</p>

<p>Någon har begärt en länk för att ändra ditt lösenord. Du kan göra detta genom att klicka på länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Om du inte har begärt detta kan du ignorera mailet</p>
<p>Lösenordet kommer inte ändras tills du klicka på länken och skapa ett nytt.</p>

<p>Med Vänliga hälsningar</p>
<p>Lönerapportsystemet</p>
