<p>Hej <%= @resource.email %>!</p>

<p>Ditt konto har blivit låst för att någon har försökt logga in med fel uppgifter ett antal gånger</p>

<p>Du kan låsa upp kontot genom att klicka på länken nedan</p>

<p><%= link_to 'Lås upp mitt konto', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>Med Vänliga hälsningar</p>
<p>Lönerapportsystemet</p>
